body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Navbar CSS */
nav {
  display: flex;
  gap: 10rem;
  height: 11%;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px); 
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}

.whatsapp {
  display: block;
  width: 3rem;
  position: fixed; 
  bottom: 3rem; 
  right: 3rem; 
  z-index: 1000; 
}

nav img {
  width: 8rem;
  margin-left: 12rem ;
  cursor: pointer;
}

.elements ul {
  list-style: none;
  display: flex;
  gap: 2.5rem;
  margin-right: 30rem;
  position: relative;
}

.elements ul li a {
  text-decoration: none;
  color: azure;
  font-size: 1.1rem;
  position: relative;
  transition: all 0.3s ease;
}

.elements ul li a::after {
  content: '';
  position: absolute; 
  bottom: -5px;
  left: 50%;
  width: 0; 
  height: 2.5px; ;
  background-color: azure; 
  transition: width 0.3s ease, left 0.3s ease;
}

.elements ul li a:hover::after {
  width: 100%; 
  left: 0; 
}

.elements ul li a:hover {
  transform: scale(1.2); 
  text-decoration: none;
  color: lightgray;
}

.page-container {
  min-height: 65.4vh;
}

/* Home Page CSS */
.hero-section {
  display: flex;
  height: 100vh; 
  justify-content: space-between;
  position: relative;
  overflow-x: hidden;
}

.hero-section-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-section-left img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  position: fixed;
  z-index: -1;
}

.hero-section-right {
  position: relative;
  width: 50%;
  margin-top: 17rem;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 1;
  text-shadow: 2px 2px 10px black;
}

.animated-title span {
  display: inline-block;
  opacity: 0;
  transform: translateY(20px);
  animation: slideIn 1s forwards;
  margin-right: 1.5rem;
}

.animated-title span:nth-child(1) {
  animation-delay: 0.2s;
}

.animated-title span:nth-child(2) {
  animation-delay: 0.4s;
}

.animated-title span:nth-child(3) {
  animation-delay: 0.6s;
}
.animated-title span:nth-child(4) {
  animation-delay: 0.8s;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0); 
  }
}

.hero-section-right h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.hero-section-right p {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.hero-section-right button {
  padding: 0.8rem 2rem;
  font-size: 1rem;
  background-color: #00bcd4;
  color: white;
  border-radius: 2rem;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.hero-section-right button:hover {
  background-color: #006370;
  transform: scale(1.2);
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.6);
}

.animated-paragraph {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInAndSlide 7s forwards;
  animation-delay: 2s;
  padding: 0.25rem;
}

@keyframes fadeInAndSlide {
  0% {
    opacity: 0;
    transform: translateY(20px); 
  }
  100% {
    opacity: 1;
    transform: translateY(0); 
  }
}

.animated-button {
  opacity: 0;
  transform: translateY(10px); 
  animation: pulseGlow 1s forwards, fadeInUp 1s forwards; 
  animation-delay: 3s; 
}

@keyframes pulseGlow {
  0% { box-shadow: 0 0 20px #00bcd4; }
  50% { box-shadow: 0 0 50px white; }
  75% { box-shadow: 0 0 500px firebrick; }
  100% { box-shadow: 0 0 0px #00bcd4; }
}

/* Fade in and move up */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


/* What-We-Do Page */
.what-we-do {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0 2rem;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
  overflow-x: hidden;
}

.what-we-do .service-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  margin-top: 2rem;
  padding: 2rem;
  width: 100%;
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 0.7s ease, transform 0.7s ease;
}

.what-we-do .service-list.slide-in {
  opacity: 1;
  transform: translateY(0);
}

.what-we-do .service-list h1 {
  font-size: 3.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url('/what-we-do.jpg');
  -webkit-background-clip: text;
  background-clip: text; 
  -webkit-text-fill-color: transparent;
  color: transparent;
  -webkit-backdrop-filter: drop-shadow(4px 4px 10px black);
  backdrop-filter: drop-shadow(4px 4px 10px black); 
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.what-we-do ul {
  margin-left: 10rem;
  padding: 1rem;
  list-style-type: none;
}

.what-we-do ul li {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  font-size: 1.5rem;
  padding: 1rem;
  cursor: pointer;
}

.what-we-do ul li span {
  margin-left: 1rem;
  margin-right: 1rem;
  flex-grow: 2;
  cursor: pointer;
}

.service-icon {
  width: 5px;
  height: 25px;
  background-color: #bbb;
  transition: background-color 0.3s ease;
  margin-right: 1rem;
}

.service-icon.active {
  background-color: #fd672b;
}

.what-we-do .service-description {
  flex: 1;
  margin-top: 12.5rem;
  background: url("/what-we-do.jpg") center center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 10rem 2rem;
  color: white;
}

.description-box {
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(20px);
  padding: 3rem 1.5rem;
  border-radius: 10px;
  text-align: center;
  max-width: 600px;
}

.description-box h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.description-box p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.description-box button {
  padding: 0.8rem 1.5rem;
  background-color: #fd672b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1rem;
  transition: background-color 0.3s ease;
}

.description-box button:hover {
  background-color: #ff7f4f;
}

.what-we-do ul li.animate-slide-up {
  animation: slide-up 0.7s ease forwards;
}


/* Footer Page Css */
.footer {
  height: 15%;
  background-color: #333;
  display: flex;
  justify-content: space-around;
  align-items: center; 
  justify-content: center;
  color: white;
  padding: 2rem; 
  gap: 15rem;
}

.footer .logo img {
  width: 150px; 
  max-width: 100vw; 
}

.footer-contact h3,
.footer-links h3,
.social-media h3 {
  font-size: 1.2rem; 
  margin-bottom: 1rem;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links ul li {
  margin-bottom: 0.5rem;
}

.footer-links ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-links ul li a:hover {
  color: lightgray;
}

.social-media a {
  font-size: 1.5rem;
  margin: 0 0.5rem; 
  color: white;
  transition: all 0.3s ease;
}

.social-media a:hover {
  color: lightgray;
  transform: scale(1.1);
}

#contact-section {
  background-image: url('/contact-bg.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.contact-page-container::before { 
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.conatct-page {
  position: relative; 
  background-color: rgba(0, 0, 0, 0.4);
  padding: 3rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 80%;
  max-width: 600px;
  margin: 6rem;
  text-align: center;
  color: white;
}

.conatct-page h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #333;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.contact-form label {
  margin-bottom: 1.5rem;
  text-align: left;
  display: block;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1rem;
}

.contact-form input[type="tel"],
.contact-form input[type="email"],
.contact-form input[type="text"] {
  height: 2.5rem;
}

.contact-form textarea {
  resize: vertical;
}

.contact-form button {
  background-color: #007bff;
  color: white;
  padding: 1rem 2rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.1rem;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: #0056b3;
}

#aboutus-section {
  min-height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  padding: 2rem;
  box-sizing: border-box;
}

.about-us {
  max-width: 800px;
  width: 90%;
  background-color: white;
  padding: 3rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.about-us h2 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 1.5rem;
  text-align: center;
}

.about-us h3 {
  font-size: 1.8rem;
  color: #007bff;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.about-us p {
  font-size: 1.1rem;
  line-height: 1.7;
  color: #555;
  margin-bottom: 1.5rem;
}