body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(49, 49, 49);
}

nav {
  display: flex;
  gap: 10rem;
  width: 100%;
  height: 10%;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}

nav img {
  width: 8rem;
  padding: 0.5rem;
  margin-left: 15rem;
  cursor: pointer;
}

.elements ul {
  list-style: none;
  display: flex;
  gap: 2.5rem;
  margin-right: 40rem;
  position: relative;
}

.elements ul li a {
  text-decoration: none;
  color: azure;
  font-size: 1.1rem;
  position: relative;
  transition: all 0.3s ease;
}

.elements ul li a::after {
  content: '';
  position: absolute;
  bottom: -5px; 
  left: 50%;
  width: 0; 
  height: 2.5px; 
  background-color: azure; 
  transition: width 0.3s ease, left 0.3s ease;
}

.elements ul li a:hover::after {
  width: 100%; 
  left: 0; 
}

.elements ul li a:hover {
  transform: scale(1.2); 
  text-decoration: none;
  color: lightgray;
}
